spring:
   profiles:
      active:
        - dev
---
server:
  port: 8201

spring:
  profiles: dev
  application:
      name: microconfig-config-client

info:
  app.name: microconfig-config-client
  company.name: 000000

---
server:
  port: 8102

spring:
  profiles: beta
  application:
      name: microconfig-config-client
  
info:
  app.name: microconfig-config-client-beta
  company.name: null0000
